*.so filter=lfs diff=lfs merge=lfs -text
*.so.* filter=lfs diff=lfs merge=lfs -text
prebuilts/clang/host/linux-x86/clang-r487747c/bin/* filter=lfs diff=lfs merge=lfs -text
prebuilts/clang/host/linux-x86/clang-r487747c/lib/* filter=lfs diff=lfs merge=lfs -text
prebuilts/clang/host/linux-x86/clang-r487747c/bin/clang-17 filter=lfs diff=lfs merge=lfs -text
prebuilts/clang/host/linux-x86/clang-r487747c/lib/libclang.so filter=lfs diff=lfs merge=lfs -text
prebuilts/clang/host/linux-x86/clang-r487747c/lib/libLLVM-17.so filter=lfs diff=lfs merge=lfs -text
prebuilts/clang/host/linux-x86/clang-r487747c/lib/libclang-cpp.so.17 filter=lfs diff=lfs merge=lfs -text
prebuilts/clang/host/linux-x86/clang-r487747c/lib/liblldb.so.17.0.2 filter=lfs diff=lfs merge=lfs -text
